<Board>
    <RoasStart/>
    <Country name="Uzbekistan">
        <City name="Tashkent" property_price="" house_price="" rent="" rent_one_house="" rent_two_houses="" rent_three_houses=""/>
        <City name="Namangan" property_price="" house_price="" rent="" rent_one_house="" rent_two_houses="" rent_three_houses=""/>
    </Country>
    <Surprise/>
    <Company type="transportation" name="" rent="" monopoly_rent=""/>
    <Country name="">
        <City name="" property_price="" house_price="" rent="" rent_one_house="" rent_two_houses="" rent_three_houses=""/>
        <City name="" property_price="" house_price="" rent="" rent_one_house="" rent_two_houses="" rent_three_houses=""/>
        <City name="" property_price="" house_price="" rent="" rent_one_house="" rent_two_houses="" rent_three_houses=""/>
    </Country>
    <Alert/>
    <Jail/>
    <Country name="">
        <City name="" property_price="" house_price="" rent="" rent_one_house="" rent_two_houses="" rent_three_houses=""/>
        <City name="" property_price="" house_price="" rent="" rent_one_house="" rent_two_houses="" rent_three_houses=""/>
        <City name="" property_price="" house_price="" rent="" rent_one_house="" rent_two_houses="" rent_three_houses=""/>
    </Country>
    <Company type="services" name="" rent="" monopoly_rent=""/>
    <Company type="transportation" name="" rent="" monopoly_rent=""/>
    <Country name="">
        <City name="" property_price="" house_price="" rent="" rent_one_house="" rent_two_houses="" rent_three_houses=""/>
        <City name="" property_price="" house_price="" rent="" rent_one_house="" rent_two_houses="" rent_three_houses=""/>
        <City name="" property_price="" house_price="" rent="" rent_one_house="" rent_two_houses="" rent_three_houses=""/>
    </Country>
    <Parking/>
    <Country name="">
        <City name="" property_price="" house_price="" rent="" rent_one_house="" rent_two_houses="" rent_three_houses=""/>
        <City name="" property_price="" house_price="" rent="" rent_one_house="" rent_two_houses="" rent_three_houses=""/>
        <City name="" property_price="" house_price="" rent="" rent_one_house="" rent_two_houses="" rent_three_houses=""/>
    </Country>
    <Alert/>
    <Company type="transportation" name="" rent="" monopoly_rent=""/>
    <Country name="">
        <City name="" property_price="" house_price="" rent="" rent_one_house="" rent_two_houses="" rent_three_houses=""/>
        <City name="" property_price="" house_price="" rent="" rent_one_house="" rent_two_houses="" rent_three_houses=""/>
        <City name="" property_price="" house_price="" rent="" rent_one_house="" rent_two_houses="" rent_three_houses=""/>
    </Country>
    <GoToJail/>
    <Country name="">
        <City name="" property_price="" house_price="" rent="" rent_one_house="" rent_two_houses="" rent_three_houses=""/>
        <City name="" property_price="" house_price="" rent="" rent_one_house="" rent_two_houses="" rent_three_houses=""/>
        <City name="" property_price="" house_price="" rent="" rent_one_house="" rent_two_houses="" rent_three_houses=""/>
    </Country>
    <Company type="services" name="" rent="" monopoly_rent=""/>
    <Company type="transportation" name="" rent="" monopoly_rent=""/>
    <Country name="">
        <City name="" property_price="" house_price="" rent="" rent_one_house="" rent_two_houses="" rent_three_houses=""/>
        <City name="" property_price="" house_price="" rent="" rent_one_house="" rent_two_houses="" rent_three_houses=""/>
        <City name="" property_price="" house_price="" rent="" rent_one_house="" rent_two_houses="" rent_three_houses=""/>
    </Country>
</Board>